@model Autoveod_MVC.Models.Autovedu

@{
    ViewData["Title"] = "Kustuta";
}

<h1>Kustuta</h1>

<h3>Kas olete kindel, et soovite kustutada?</h3>
<div>
    <h4>Autovedu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tellija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tellija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alguspunkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alguspunkt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lõpppunkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lõpppunkt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KohalejoudmiseAeg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KohalejoudmiseAeg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JuhtEesnimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JuhtEesnimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JuhtPerenimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JuhtPerenimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valmis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valmis)
        </dd>
    </dl>
    
    <form asp-action="Kustuta">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="KoikVeod">Tagasi</a>
    </form>
</div>
